.page_icons {
  display: flex;
  gap: 1rem;
}

.page_icons .icons {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid #adb5bd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
